<ion-content class="ion-no-padding" >

    <div class="page">
        <img src="../../../assets/images/Navbar-logo@2x.png" height="40px"  /><br />
        <img src="../../../assets/images/graphics--Publish-to-chain.svg" style="margin-top: 30px; width: 180px;" />
    </div>

    <div class="footer">
        <h2>Tutorial</h2>

        <div style="width: 100%;">
          <p>1. Go to Identity capsule</p>
          <p>2. Publish your DID</p>
          <p>3. Select Assist</p>
          <p>4. Write any custom note regarding the publish (this note won't be saved on the blockchain, is private and can only be viewable by you)</p>
          <p>5. Publish</p>
        </div>
        <div class="page-button" (click)="doLogin()">
            <img src="../../../assets/images/DID Icon.png" /> 
            <span class="page-button-text">&nbsp;Sign in with DID</span>
            <ion-ripple-effect></ion-ripple-effect>
        </div>
    </div>

    
    
</ion-content>
  