ion-content { 

    --background: #ffffff;

    .content{
        height: 100%;
    }
    .contentimg{
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        
    }

    .contentimg img{
        display: block;
        
    }
}
