<ion-content class="ion-no-padding" >

    <div class="page">
        <img src="../../../assets/images/Navbar-logo@2x.png" height="50px"  />
        <img src="../../../assets/images/graphics--Publish-to-chain.png" style="margin-top: 50px;" />
    </div>

    <div class="footer">
        <span class="footer-text">
            DID Publishing Service
        </span>
        <div class="page-button" (click)="doLogin()">
            <img src="../../../assets/images/DID Icon.png" /> 
            <span class="page-button-text">&nbsp;Sign in with DID</span>
            <ion-ripple-effect></ion-ripple-effect>
        </div>
    </div>

    
    
</ion-content>
  