<ion-content class="ion-no-padding">
    <div style="height: 100%">
        <div class="header">
            <img src="../../../assets/images/icon-Close.png" (click)="goBack()" />
        </div>
        <div class="recent-requests">
            <div class="recent-item">
                <img class="recent-item-icon" src="../../../assets/images/icon-did-search.svg" width="40px" />
                <span class="recent-item-title">
                    DID
                </span>
                <span class="recent-item-id">
                    {{document.did}}
                    <img
                    src="../../../assets/images/Icon-copy.png" (click)="copy(request.id)" />
                </span>
                <br>
                <span class="recent-item-time"> <img src="../../../assets/images/Time.png" /> {{timeMoment}}</span>
                <span class="recent-item-status-success"> <img src="../../../assets/images/Icon feather-check-circle-1.png" height="12px" /> published </span>
            </div>
            <div class="blockchain-details">
                <div class="section-header">
                    <span>Transaction Details</span>
                </div>
                <p>
                    <span class="item-header">Transaction Hash</span>
                    <span class="item-value">
                        {{document.id}}
                        <img src="../../../assets/images/Icon-copy.png" (click)="copy('https://idchain.elastos.org/tx/' + blockchainTx.txid)" />
                    </span>
                </p>
            </div>
            <div class="request-details" *ngFor="let item of document.verifiable_creds">
                <div class="section-header">
                    <span>{{getCaptalizedHeader(item)}}</span>
                </div>
                <div class="item-div">
                    <span class="item-header">Type</span>
                    <span class="item-value" *ngFor="let value of item.type">{{value}}</span>
                </div>
                <div class="item-div">
                    <span class="item-header">Issued on</span>
                    <span class="item-value">{{formatedMoment(item.issuance_date)}}</span>
                </div>
                <div class="item-div">
                    <span class="item-header">Expires on</span>
                    <span class="item-value">{{formatedMoment(item.expiration_date)}}</span>
                </div>
                <div class="item-div" *ngFor="let element of getSubjects(item)">
                    <span class="item-header">{{element.header}}</span>
                    <span class="item-value" *ngIf="!element.isImage">{{element.value}}</span>
                    <div *ngIf="element.isImage" style="padding-left: 20px; padding-right: 20px;" >
                        
                        <img [src]="element.value" alt="Subject image" />
                    </div>
                </div>
                <div class="item-div" *ngIf="item.issuer">
                    <span class="item-header">Validator</span>
                    <span class="item-value">
                        <img class="issuer-cred-avatar" *ngIf="hasAvatarIssuer(item.issuer)" [src]="getIssuerAvatar(item.issuer)">
                        <span class="issuer-cred-name">{{getIssuerName(item.issuer)}}</span> 
                        <span class="issuer-cred-did">{{getIssuerDid(item.issuer)}}</span> 
                    </span>
                </div>
               
             
            </div>


        </div>
    </div>
</ion-content>