<ion-content class="ion-no-padding">
  <div style="height: 100%">
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content>
      </ion-refresher-content>
    </ion-refresher>
    <div class="home-content">
      <div class="header">
        <img src="../../../assets/images/Navbar-logo@2x.png" height="36px" />
        <div style="float: right;">
          <input *ngIf="isSearchOpen" type="text" [(ngModel)]="search" placeholder="Find by confirmation id" />
          <img src="../../../assets/images/icon-search@2x.png" height="36px" (click)="openSearch()" />
          <img *ngIf="avatar == null" src="../../../assets/images/Nav-bar-Profile.png" (click)="openProfile()" />
          <img *ngIf="avatar" class="header-avatar" [src]="avatar" (click)="openProfile()" /> 
          
        </div>
      </div>

      <div class="tab">
        <ion-segment value="requests" (ionChange)="tabChanged($event)">
          <ion-segment-button value="requests">
            <ion-label>Requests</ion-label>
          </ion-segment-button>
          <ion-segment-button value="services">
            <ion-label>Services</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>

      <div class="tab-requests" *ngIf="selectedTab=='requests'">

        <div class="request-item" (click)="gotoRequests('identification')">
          <img src="../../../assets/images/icon-did.svg" width="40px" />
          <span>DID Publish</span>
          <img src="../../../assets/images/icon-next.png" class="request-item-caret" />
          <div class="request-item-details" *ngIf="idPublishStatistics" >
                {{idPublishStatistics.count}} of 5
          </div>
        </div>

        <div class="request-item" (click)="openMediaUpload()">
          <img src="../../../assets/images/icon-media-upload.svg" width="40px" />
          <span>Media Uploads</span>
          <img src="../../../assets/images/icon-next.png" class="request-item-caret" />
          <div class="request-item-details" *ngIf="mediaUploadStatistics" >
                {{mediaUploadStatistics.count}} of 5
          </div>
        </div>

        <div class="recent-requests" *ngIf="requests">
          <h2>Recent</h2>

          <request-item *ngFor="let request of requests" [request]="request" (click)="openRequest(request.id)">

          </request-item>
        </div>

        <div class="recent-requests" >
          <h2>Statistics</h2>

          <div class="statistics-header">
            <span>ID Publish Service</span>
            <img src="../../../assets/images/icon-did.svg" width="40px" />
          </div>

          <ion-grid>
            <ion-row *ngIf="statistics">
              <ion-col>
                <div  class="profile-details-section" style="margin-right: 10px; margin-bottom: 5px;">
                  <span class="profile-details-span-header">
                    Published Today
                  </span>
                  <span class="profile-details-span-text">
                    {{statistics.did_publish.today}}
                  </span>
                </div>
              </ion-col>
              <ion-col>
                <div class="profile-details-section" style="margin-left: 10px; margin-bottom: 5px;">
                  <span  class="profile-details-span-header">
                    Total Published
                  </span>
                  <span class="profile-details-span-text">
                    {{statistics.did_publish.total}}         
                  </span>
                </div>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="mediaUploadStatistics">
              <ion-col>
                <div class="profile-details-section"  style="margin-right: 10px; margin-top: 5px;">
                  <span class="profile-details-span-header">
                   DID Users
                  </span>
                  <span  class="profile-details-span-text">
                    {{statistics.did_publish.users}}
                  </span>
                </div>
              </ion-col>
              <ion-col>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

        <div class="recent-requests" >
          <h2>Tutorial</h2>

          <div style="width: 100%;">
            <p>1. Go to Identity capsule</p>
            <p>2. Publish your DID</p>
            <p>3. Select Assist</p>
            <p>4. Write any custom note regarding the publish (this note won't be saved on the blockchain, is private and can only be viewable by you)</p>
            <p>5. Publish</p>
          </div>
         
        </div>

      </div>

      <div class="tab-services" *ngIf="selectedTab=='services'">
        <div class="request-item" (click)="openMediaUpload()">
          <div class="ellipse">
            <img src="../../../assets/images/icon-Media-Upload@3x.png" width="40px" />
          </div>
          <span>Media Upload</span>
          <img src="../../../assets/images/icon-next.png" class="request-item-caret" />

        </div>
        <div class="request-item" (click)="openSearchDid()">
          <img src="../../../assets/images/icon-did-search.svg" width="40px" />
          <span>Search DID</span>
          <img src="../../../assets/images/icon-next.png" class="request-item-caret" />

        </div>


      </div>
    </div>
  </div>
  <div class="profile-content" *ngIf="isShowProfile">
    <div class="profile-background">

    </div>
    <div class="profile-header">
      <img src="../../../assets/images/icon-Close.png" (click)="closeProfile()" />
    </div>
    <div class="profile-details">
      <div class="profile-details-items">
        <img *ngIf="avatar == null" class="profile-details-img" src="../../../assets/images/icon-Profile.png" /> 
        <img *ngIf="avatar" class="profile-details-avatar" [src]="avatar" /> 
        <div>
          <span class="profile-details-span-header">
              DID
          </span>
          <div class="profile-details-span-text">
            <div style="width: 90% !important; display: inline-block;">
              {{did}} 
            </div>
            <img src="../../../assets/images/Icon-copy.png" (click)="copy(did)" />
          </div>
          <span *ngIf="name" class="profile-details-span-header">
            Name
          </span>
          <span *ngIf="name" class="profile-details-span-text">
            {{name}}
          </span>
        </div>  
        <div style="margin-top: 10px;">
          <ion-grid>
            <ion-row *ngIf="idPublishStatistics">
              <ion-col>
                <div  class="profile-details-section" style="margin-right: 10px; margin-bottom: 10px;">
                  <span class="profile-details-span-header">
                    Published Today
                  </span>
                  <span *ngIf="name" class="profile-details-span-text">
                    {{idPublishStatistics.count}}
                  </span>
                </div>
              </ion-col>
              <ion-col>
                <div class="profile-details-section" style="margin-left: 10px; margin-bottom: 10px;">
                  <span  class="profile-details-span-header">
                    Total Published
                  </span>
                  <span class="profile-details-span-text">
                    {{idPublishStatistics.total_count}}                  
                  </span>
                </div>
              </ion-col>
            </ion-row>
            <ion-row *ngIf="mediaUploadStatistics">
              <ion-col>
                <div class="profile-details-section"  style="margin-right: 10px; margin-top: 10px;">
                  <span class="profile-details-span-header">
                    Uploads Today
                  </span>
                  <span  class="profile-details-span-text">
                    {{mediaUploadStatistics.count}}
                  </span>
                </div>
              </ion-col>
              <ion-col>
                <div class="profile-details-section" style="margin-left: 10px; margin-top: 10px;">
                  <span  class="profile-details-span-header">
                    Total Uploads
                  </span>
                  <span  class="profile-details-span-text">
                    {{mediaUploadStatistics.total_count}}  
                  </span>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <div class="page-button" (click)="doLogin()">
          <span class="page-button-text">&nbsp;Refresh Credentials</span>
          <ion-ripple-effect></ion-ripple-effect>
      </div>
      </div>
    </div>
  </div>
</ion-content>