<ion-content class="ion-no-padding">
    <div style="height: 100%" *ngIf="hasTransaction">
        <div class="header">
            <img src="../../../assets/images/Navbar-logo@2x.png" height="36px" />
        </div>

        <div class="details">
            <div class="before-publish" *ngIf="endTransaction == false">
                <h2>Publish your DID credentials to the blockchain.</h2>
                <br />
                <h3>Please review before publish</h3>
                <br />
                <p>
                    <span class="item-header">DID</span>
                    <span class="item-value">
                        {{did}}
                        <img src="../../../assets/images/Icon-copy.png" (click)="copy(did)" />
                    </span>
                </p>

                <div class="details-item" *ngFor="let item of profileValues">
                    <span class="details-item-header">{{item.header}}</span>
                    <span *ngIf="!isObjImage(item.value)" class="details-item-value">{{item.value}}</span>
                    <img *ngIf="isObjImage(item.value)" [src]="getBase64Image(item.value)" alt="Item image" />
                </div>


    
                <div class="details-memo">
                    <span>Message</span>
                    <ion-textarea  placeholder="Enter a personal information here..." auto-grow="true" [(ngModel)]="memo"  ></ion-textarea>
                </div>
    
                <br />

                <div class="timer" *ngIf="serviceCount && serviceCount.count >= 5" >
                    <div class="timer-item">
                        Resets in {{resetTimer}}
                    </div>
                       
                </div>

                <br /> 
                
                <div class="buttons" >
                    <div class="button-cancel" (click)="doCancel()">
                        Cancel
                        <ion-ripple-effect></ion-ripple-effect>
                    </div>
                    <div *ngIf="serviceCount" [class]="getButtonPublishClass()" (click)="doPublish()">
                        Publish ({{serviceCount.count}}/5)
                        <ion-ripple-effect></ion-ripple-effect>
                    </div>
                </div>

                
            </div>
            <div class="after-publish" *ngIf="endTransaction == true">
                <h2>Your ID was published successfully.</h2>
                
                <span class="item-header">You can track your requests from app using</span>

                <p>
                    <span class="item-header">Confirmation No:</span>
                    <span class="item-value">
                        {{requestId}}
                        <img src="../../../assets/images/Icon-copy.png" (click)="copy(requestId)" />
                    </span>
                </p>

                <span class="item-header">Redirecting in {{timer}} secs...</span>

                <div class="buttons">
                    <div class="button-publish" (click)="returnTransaction()">
                        Continue
                        <ion-ripple-effect></ion-ripple-effect>
                    </div>
                </div>

                
            </div>
            

        </div>
    </div>
  </ion-content>
  