<div class="recent-item">
    <div class="ellipse-recent">
      <img src="../../../assets/images/DID Icon-1@2x.png" width="20px" />
    </div>
    <img src="../../../assets/images/icon-next.png" class="recent-item-caret" />
    <div class="recent-item-details" >
      <span class="recent-item-header"><b>Request No:</b> {{request.id}}</span>
      <span class="recent-item-time"> <img src="../../../assets/images/Time.png" /> {{timeMoment}} ● </span>
      <span [class]="statusClass"> {{request.status}} </span>
    </div>
</div>